p2_n8n_pr_review_trigger.json
{
  "name": "PR Review Trigger",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "github-pr",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "node-webhook",
      "name": "GitHub Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst action = body.action;\n\nif (action !== 'opened' && action !== 'synchronize') {\n  return [];\n}\n\nconst pr = body.pull_request;\nconst repo = body.repository;\n\nreturn [{\n  json: {\n    pr_number: pr.number,\n    repo: repo.full_name,\n    pr_title: pr.title,\n    pr_description: pr.body || '',\n    pr_author: pr.user.login,\n    base_branch: pr.base.ref,\n    head_branch: pr.head.ref,\n    diff_url: pr.diff_url,\n    pr_url: pr.html_url\n  }\n}];"
      },
      "id": "node-validate",
      "name": "Validate and Extract PR Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('Validate and Extract PR Data').first().json.diff_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.GITHUB_TOKEN }}"
            },
            {
              "name": "Accept",
              "value": "application/vnd.github.v3.diff"
            }
          ]
        },
        "responseFormat": "string",
        "options": {}
      },
      "id": "node-fetch-diff",
      "name": "Fetch PR Diff",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "const payload = $('Validate and Extract PR Data').first().json;\nconst response = $input.first().json;\nconst rawDiff = response.body || response.data || JSON.stringify(response);\n\nreturn [{\n  json: {\n    ...payload,\n    raw_diff: rawDiff\n  }\n}];"
      },
      "id": "node-prepare-request",
      "name": "Prepare Review Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "operation": "create",
        "baseId": "={{ $env.AIRTABLE_BASE_ID }}",
        "tableId": "PRReviews",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "pr_number": "={{ $json.pr_number }}",
            "repo": "={{ $json.repo }}",
            "pr_title": "={{ $json.pr_title }}",
            "pr_author": "={{ $json.pr_author }}",
            "base_branch": "={{ $json.base_branch }}",
            "head_branch": "={{ $json.head_branch }}",
            "status": "pending",
            "feedback_collected": false,
            "created_at": "={{ $now }}"
          }
        }
      },
      "id": "node-airtable-create",
      "name": "Create PR Review Record",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ ($env.FASTAPI_BASE_URL || 'http://127.0.0.1:8000') + '/api/v1/review' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ pr_number: $('Prepare Review Request').first().json.pr_number, repo: $('Prepare Review Request').first().json.repo, pr_title: $('Prepare Review Request').first().json.pr_title, pr_description: $('Prepare Review Request').first().json.pr_description, pr_author: $('Prepare Review Request').first().json.pr_author, base_branch: $('Prepare Review Request').first().json.base_branch, head_branch: $('Prepare Review Request').first().json.head_branch, raw_diff: $('Prepare Review Request').first().json.raw_diff }",
        "options": {
          "timeout": 120000
        }
      },
      "id": "node-fastapi",
      "name": "Call FastAPI /api/v1/review",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.github.com/repos/{{ $('Prepare Review Request').first().json.repo }}/pulls/{{ $('Prepare Review Request').first().json.pr_number }}/reviews",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.GITHUB_TOKEN }}"
            },
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ body: $('Call FastAPI /api/v1/review').first().json.review_comment_body, event: $('Call FastAPI /api/v1/review').first().json.decision === 'request_changes' ? 'REQUEST_CHANGES' : $('Call FastAPI /api/v1/review').first().json.decision === 'approve' ? 'APPROVE' : 'COMMENT' }",
        "options": {}
      },
      "id": "node-post-github-review",
      "name": "Post GitHub Review",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "operation": "update",
        "baseId": "={{ $env.AIRTABLE_BASE_ID }}",
        "tableId": "PRReviews",
        "id": "={{ $('Create PR Review Record').first().json.id }}",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "run_id": "={{ $('Call FastAPI /api/v1/review').first().json.run_id }}",
            "status": "complete",
            "review_decision": "={{ $('Call FastAPI /api/v1/review').first().json.decision }}",
            "security_severity_max": "={{ $('Call FastAPI /api/v1/review').first().json.security_severity_max }}",
            "style_compliance_score": "={{ $('Call FastAPI /api/v1/review').first().json.style_compliance_score }}",
            "github_review_id": "={{ $('Post GitHub Review').first().json.id }}",
            "review_comment_body": "={{ $('Call FastAPI /api/v1/review').first().json.review_comment_body }}",
            "completed_at": "={{ $now }}",
            "duration_seconds": "={{ $('Call FastAPI /api/v1/review').first().json.duration_seconds }}"
          }
        }
      },
      "id": "node-update-airtable",
      "name": "Update PR Review Record",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [1780, 300]
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.GMAIL_SENDER_EMAIL }}",
        "toEmail": "={{ $env.NOTIFICATION_EMAIL }}",
        "subject": "=PR #{{ $('Prepare Review Request').first().json.pr_number }} review complete",
        "emailType": "text",
        "message": "=Repository: {{ $('Prepare Review Request').first().json.repo }}\nPR Number: {{ $('Prepare Review Request').first().json.pr_number }}\nDecision: {{ $('Call FastAPI /api/v1/review').first().json.decision }}\nRun ID: {{ $('Call FastAPI /api/v1/review').first().json.run_id }}\n\nReview summary:\n{{ $('Call FastAPI /api/v1/review').first().json.review_comment_body }}"
      },
      "id": "node-email",
      "name": "Send Gmail Notification",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [2000, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ success: true, pr_number: $('Prepare Review Request').first().json.pr_number, run_id: $('Call FastAPI /api/v1/review').first().json.run_id, decision: $('Call FastAPI /api/v1/review').first().json.decision }",
        "options": {}
      },
      "id": "node-respond",
      "name": "Send Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2220, 300]
    }
  ],
  "connections": {
    "GitHub Webhook Trigger": {
      "main": [[{ "node": "Validate and Extract PR Data", "type": "main", "index": 0 }]]
    },
    "Validate and Extract PR Data": {
      "main": [[{ "node": "Fetch PR Diff", "type": "main", "index": 0 }]]
    },
    "Fetch PR Diff": {
      "main": [[{ "node": "Prepare Review Request", "type": "main", "index": 0 }]]
    },
    "Prepare Review Request": {
      "main": [[{ "node": "Create PR Review Record", "type": "main", "index": 0 }]]
    },
    "Create PR Review Record": {
      "main": [[{ "node": "Call FastAPI /api/v1/review", "type": "main", "index": 0 }]]
    },
    "Call FastAPI /api/v1/review": {
      "main": [[{ "node": "Post GitHub Review", "type": "main", "index": 0 }]]
    },
    "Post GitHub Review": {
      "main": [[{ "node": "Update PR Review Record", "type": "main", "index": 0 }]]
    },
    "Update PR Review Record": {
      "main": [[{ "node": "Send Gmail Notification", "type": "main", "index": 0 }]]
    },
    "Send Gmail Notification": {
      "main": [[{ "node": "Send Response", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
