p2_n8n_self_improvement.json
{
  "name": "Weekly Self-Improvement Cycle",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 1"
            }
          ]
        }
      },
      "id": "node-weekly-cron",
      "name": "Weekly Cron Monday 9am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "search",
        "baseId": "={{ $env.AIRTABLE_BASE_ID }}",
        "tableId": "FeedbackLog",
        "maxRecords": 200
      },
      "id": "node-get-feedback",
      "name": "Get Feedback History",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "const records = $input.all();\nlet totalSignals = 0;\nlet positiveSignals = 0;\nlet negativeSignals = 0;\n\nfor (const record of records) {\n  totalSignals += Number(record.json.fields.total_signals || 0);\n  positiveSignals += Number(record.json.fields.positive_signals || 0);\n  negativeSignals += Number(record.json.fields.negative_signals || 0);\n}\n\nconst positiveRate = totalSignals > 0 ? Number((positiveSignals / totalSignals).toFixed(2)) : 0;\nconst negativeRate = totalSignals > 0 ? Number((negativeSignals / totalSignals).toFixed(2)) : 0;\n\nreturn [{\n  json: {\n    total_signals: totalSignals,\n    positive_signals: positiveSignals,\n    negative_signals: negativeSignals,\n    positive_rate: positiveRate,\n    negative_rate: negativeRate\n  }\n}];"
      },
      "id": "node-aggregate",
      "name": "Aggregate Feedback Metrics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "const metrics = $input.first().json;\nlet summary = 'Not enough feedback yet to make a prompt change.';\nconst recommendations = [];\n\nif (metrics.negative_rate >= 0.4) {\n  summary = 'High negative feedback detected. Tighten prompts to reduce noisy findings.';\n  recommendations.push({ area: 'all_reviewers', action: 'reduce low-confidence findings' });\n}\n\nif (metrics.positive_rate >= 0.75) {\n  recommendations.push({ area: 'security_reviewer', action: 'keep current security prompt stable' });\n}\n\nif (metrics.positive_rate < 0.6) {\n  recommendations.push({ area: 'style_reviewer', action: 'review style prompt for relevance and precision' });\n}\n\nreturn [{\n  json: {\n    recommendation_summary: summary,\n    recommendations_json: JSON.stringify(recommendations)\n  }\n}];"
      },
      "id": "node-build-recommendation",
      "name": "Build Recommendation Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "operation": "create",
        "baseId": "={{ $env.AIRTABLE_BASE_ID }}",
        "tableId": "LearningRecommendations",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "generated_at": "={{ $now }}",
            "total_signals_analyzed": "={{ $('Aggregate Feedback Metrics').first().json.total_signals }}",
            "positive_rate": "={{ $('Aggregate Feedback Metrics').first().json.positive_rate }}",
            "negative_rate": "={{ $('Aggregate Feedback Metrics').first().json.negative_rate }}",
            "recommendation_summary": "={{ $('Build Recommendation Summary').first().json.recommendation_summary }}",
            "recommendations_json": "={{ $('Build Recommendation Summary').first().json.recommendations_json }}",
            "applied": false
          }
        }
      },
      "id": "node-save-recommendations",
      "name": "Save Recommendations to Airtable",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.GMAIL_SENDER_EMAIL }}",
        "toEmail": "={{ $env.NOTIFICATION_EMAIL }}",
        "subject": "Weekly AI review summary",
        "emailType": "text",
        "message": "=Weekly AI review summary\n\nTotal signals: {{ $('Aggregate Feedback Metrics').first().json.total_signals }}\nPositive rate: {{ $('Aggregate Feedback Metrics').first().json.positive_rate }}\nNegative rate: {{ $('Aggregate Feedback Metrics').first().json.negative_rate }}\n\nRecommendation summary:\n{{ $('Build Recommendation Summary').first().json.recommendation_summary }}\n\nRecommendations JSON:\n{{ $('Build Recommendation Summary').first().json.recommendations_json }}"
      },
      "id": "node-email-report",
      "name": "Send Gmail Report",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1340, 300]
    }
  ],
  "connections": {
    "Weekly Cron Monday 9am": {
      "main": [[{ "node": "Get Feedback History", "type": "main", "index": 0 }]]
    },
    "Get Feedback History": {
      "main": [[{ "node": "Aggregate Feedback Metrics", "type": "main", "index": 0 }]]
    },
    "Aggregate Feedback Metrics": {
      "main": [[{ "node": "Build Recommendation Summary", "type": "main", "index": 0 }]]
    },
    "Build Recommendation Summary": {
      "main": [[{ "node": "Save Recommendations to Airtable", "type": "main", "index": 0 }]]
    },
    "Save Recommendations to Airtable": {
      "main": [[{ "node": "Send Gmail Report", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
